body {
    color: white;
    background: rgb(235, 11, 11);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
}


section{
    background: rgb( 155, 16, 16);
    padding-bottom: 88px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

